*.jpg
*.avi
*.xml
*.pth
.idea/*
log/*
download/*
model_data/efficientdet-d*
output/*
VOCdevkit/*
VOCdevkit-bak/*
kids.mp4
.git.bak/*

.vim/.ropeproject/config.py
.vim/.ropeproject/objectdb
__pycache__/efficientdet.cpython-36.pyc
utils/__pycache__/utils.cpython-36.pyc
utils/__pycache__/anchors.cpython-36.pyc
nets/__pycache__/layers.cpython-36.pyc
nets/__pycache__/efficientnet.cpython-36.pyc
nets/__pycache__/efficientdet.cpython-36.pyc
EfficientNet.pdf
efficientdet.pdf
